.git
.gitignore
.env
data/
.github/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/
.tox/
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.DS_Store
node_modules/
dist/
build/
*.egg-info/
.vscode/
.idea/ 