streamlit
fastapi
uvicorn
pydantic
starlette
python-multipart
langchain
langchain-community
langchain-experimental
langchain-huggingface
langchain-ollama
faiss-cpu
pdfplumber
huggingface-hub
sentence-transformers
ruff
pytest